@font-face {
    font-family: 'Requiem';
    src: url('../styles/fonts/Requiem.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url('../styles/fonts/Cinzel.ttf') format('truetype');
}
