@font-face {
    font-family: 'GothicUltra';
    src: url('/styles/fonts/dev-gothic_ultra_ot-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BeyondWonderland';
    src: url('/styles/fonts/dev-BeyondWonderland.ttf') format('truetype');
}

@font-face {
    font-family: 'Vinque';
    src: url('/styles/fonts/dev-vinque.ttf') format('truetype');
}