@font-face {
    font-family: 'GothicUltra';
    src: url('/styles/fonts/dev-gothic_ultra_ot-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BeyondWonderland';
    src: url('/styles/fonts/dev-BeyondWonderland.ttf') format('truetype');
}

@font-face {
    font-family: 'Vinque';
    src: url('/styles/fonts/dev-vinque.ttf') format('truetype');
}

@font-face {
    font-family: 'Requiem';
    src: url('/styles/fonts/dev-Requiem.ttf') format('truetype');
}

@font-face {
    font-family: 'Exo-reg';
    src: url('/styles/fonts/dev-Exo2.0-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Exo-thin';
    src: url('/styles/fonts/dev-Exo2.0-Thin.otf') format("opentype");
}

@font-face {
    font-family: 'Exo-thin-italic';
    src: url('/styles/fonts/dev-Exo2.0-ThinItalic.otf') format("opentype");
}