#banner-content {
  text-align: center;
  padding: 5em;
  width: 100%;
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  > img {
    height: 50vh;
  }
}

@media (max-width: 576px) {
  #banner-content {
    padding: 2em;
  }

  .container {
    padding: 0;
  }
}

#sign-in-wrapper {
  //display: none;

  //background-color: #373737;
  background-color: transparent;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  > .card {
    max-width: 300px;
    margin: 0 auto;
  }
}