@mixin add-animation($animation: 'bounce', $duration: 1s, $delay: 0) {
  @extend .animated;
  @extend .#{$animation};

  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}