#storm-background,
#lightning-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: url('/assets/img/vatican-storm-ease.jpg') no-repeat top;
  background-size: 100% auto;
  
  @media (max-width: 900px) {
    background-size: auto 120vh;
  }
}